#header{
	background-color: #449D44;
	color: #fff;
	border-color: #449D44;
}
#header a{
	color: #fff;
}
#header a:hover{
	background-color: #414cf4;
}
 
#footer{
	width: 100%;
	background-color: #000;
	height: 100px;
	color: #fff;
	padding: 30px;
}
#home-title{
	width:90%;
	margin-left: auto;
	margin-right: auto;
}