@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../../iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(../../iconfont/MaterialIcons-Regular.woff2) format('woff2'),
         url(../../iconfont/MaterialIcons-Regular.woff) format('woff'),
         url(../../iconfont/MaterialIcons-Regular.ttf) format('truetype');
  }
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    /*display: inline-block;*/
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Roboto regular */

@font-face {
    font-family: "Roboto";
    src: url("../../fonts/Roboto-Regular.eot");
    src: url("../../fonts/Roboto-Regular.eot?#iefix") format('embedded-opentype'),
         url("../../fonts/Roboto-Regular.woff2") format('woff2'),
         url("../../fonts/Roboto-Regular.woff") format('woff'),
         url("../../fonts/Roboto-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Roboto italic */

@font-face {
    font-family: "Roboto";
    src: url('../../fonts/Roboto-Italic.eot');
    src: url('../../fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Roboto-Italic.woff2') format('woff2'),
         url('../../fonts/Roboto-Italic.woff') format('woff'),
         url('../../fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Roboto bold */

@font-face {
    font-family: "Roboto";
    src: url('../../fonts/Roboto-Bold.eot');
    src: url('../../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Roboto-Bold.woff2') format('woff2'),
         url('../../fonts/Roboto-Bold.woff') format('woff'),
         url('../../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.menu-text-font {
    text-decoration: none; 
    font-family: 'Roboto'; 
    font-weight: 700; 
    font-style: bold;
    color: #455A64;
}

.sous-menu-text-font {
    text-decoration: none; 
    font-family: 'Roboto'; 
    font-weight: 400; 
    font-style: normal;
}

.numberCircle {
    position: absolute;
    right: -3px;
    top: -7px;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    padding: 2px;
    background: #ff0000;
    color: white;
    text-align: center;
    font-size: 10px;
}
